/* ---------------------------------------------------------------------
Original Author: John Heimkes IV

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */
body {
	background: url('../images/bg-wood.jpg');
	font-family: 'bitterregular', Georgia, Times, serif;
}

.page-wrapper {
	width: 948px;
	margin: 25px auto;
	background: url('../images/bg-paper.jpg') left top repeat-y;
	position: relative;
}

.page-wrapper-bottom {
	width: 948px;
	height: 98px;
	background: url('../images/bg-paper-bottom.jpg') left top no-repeat;
	position: absolute;
	bottom: 0;
}

.page-content {
	width: 793px;
	margin: 107px auto 0;
}

.page-footer {
	padding: 60px 76px 20px;
	position: relative;
	z-index: 1;
}


/* ---------------------------------------------------------------------
= Header
------------------------------------------------------------------------ */
.page-header {
	width: 1001px;
	height: 215px;
	background: url('../images/bg-taps.png') left top no-repeat;
	background-position: 0 -16px;
	position: relative;
	top: -5px;
	left: -26px;
}

.logo-container {
	width: 241px;
	margin: 0 auto;
	position: relative;
	top: 25px;
	z-index: 1;
}

.logo {
	display: block;
	height: 293px;
	background: url('../images/logo.png') left top no-repeat;
	text-indent: -9999px;
}

nav {
	width: 992px;
	height: 78px;
	background: url('../images/bg-nav.png') left top no-repeat;
	position: absolute;
	top: 173px;
	left: 3px;
}

nav .menu {
	position: relative;
	list-style: none;
	left: 28px;
}

.menu-item {
	float: left;
	padding: 0;
}

.menu-item:nth-child(-n+3) {
	margin: 20px 23px 0;
}

.menu-item:nth-child(n+4) {
	margin: 20px 12px 0;
}

.menu-item:nth-child(4) {
	margin-left: 224px;
}

.menu-item a {
	border-bottom: 2px solid #1a2f15;
	color: #001c00;
	font-family: 'bitterbold';
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.menu-item a:hover,
.current-menu-item a {
	border-bottom: 2px solid #7b7839;
	color: #e6e06a;
}

/* ---------------------------------------------------------------------
= Footer
------------------------------------------------------------------------ */
.footer-content-wrapper {
	margin: 20px auto 0;
	padding: 20px 0;
	border-top: 4px solid #c3b9b2;
	text-align: center;
	font-size: 12px;
	font-family: 'bitterregular';
	color: #391905;
}

.footer-content-wrapper > div {
	margin-bottom: 10px;
}

.footer-address {
	display: inline;
}

.email-link {
	color: #391905;
	text-decoration: none;
}

.email-link:hover {
	text-decoration: underline;
}

.social-icon {
	display: inline-block;
	margin: 10px 5px 0;
}

.social-icon a {
	display: block;
	height: 26px;
	width: 26px;
	text-indent: -9999px;
}

.social-icon-facebook { background: url('../images/icon-fb.png') no-repeat left top; }
.social-icon-twitter { background: url('../images/icon-twitter.png') no-repeat left top; }


/* ---------------------------------------------------------------------
= Homepage
------------------------------------------------------------------------ */
.home .page-content {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.tagline {
	width: 530px;
	margin: 0 auto;
	font-size: 16px;
	color: #391905;
	line-height: 1.2;
}

.tagline-heading {
	font-family: 'bitterbold';
	font-size: 21px;
	padding: 0 0 10px;
}

.main-carousel {
	width: 854px;
	height: 348px;
	margin: 40px auto;
	background: url('../images/bg-carousel-shadow.png') no-repeat left top;
	text-align: center;
	position: relative;
}

.carousel {
	width: 800px;
	height: 340px;
	margin: 0 auto;
	border: 9px solid #ffffff;
	position: relative;
	z-index: 1;
}

.carousel-shadow {
	width: 800px;
	height: 340px;
	position: absolute;
	z-index: 999;
	-webkit-box-shadow: inset 0px 0px 14px 1px #000000;
	-moz-box-shadow: inset 0px 0px 14px 1px #000000;
	box-shadow: inset 0px 0px 14px 1px #000000;
}

.main-carousel-nav {
	position: absolute;
	top: 111px;
	left: 16px;
	z-index: 2;
}

.main-carousel-nav-item {
	display: inline-block;
	margin: 0;
	text-indent: -9999px;
	vertical-align: middle;
}

.main-carousel-link {
	display: block;
	text-decoration: none;
}

.main-carousel-link:hover {
	background-position: bottom;
}

.main-carousel-beer-link {
	width: 354px;
	height: 123px;
	background: url('../images/link-beer.png') no-repeat top left;
}

.main-carousel-food-link {
	width: 362px;
	height: 123px;
	background: url('../images/link-food.png') no-repeat top left;
}

.main-carousel-sep {
	width: 97px;
	height: 89px;
	background: url('../images/amp-white.png') no-repeat top left;
}

.happy-hour {
	width: 806px;
	margin: 0 auto;
	padding: 10px 0;
	border-top: 4px solid #c9bfb7;
	border-bottom: 4px solid #c9bfb7;
	text-align: center;
	line-height: 2;
}

.asterisk {
	display: inline-block;
	width: 64px;
	height: 16px;
	background: url('../images/stars.png') no-repeat top left;
}

.happy-hour h3 {
	display: inline-block;
	padding: 0 15px;
	color: #391905;
	font-size: 30px;
	font-family: 'bitterbold';
}

.happy-hour p {
	text-transform: uppercase;
	color: #845a3f;
	font-family: 'bitteritalic';
	font-size: 24px;
}

.amp-replace-yellow {
	display: inline-block;
	width: 48px;
	height: 40px;
	position: relative;
	top: 5px;
	background: url('../images/amp-gold.png') no-repeat top left;
	text-indent: -9999px;
}

.specials-module {
	text-align: center;
	margin-top: 60px;
}

.monthly-specials,
.pint-glass,
.try-this {
	display: inline-block;
	vertical-align: top;
}

.monthly-specials {
	width: 250px;
	line-height: 1.5;
}

.pint-glass {
	width: 152px;
	height: 345px;
	margin: 26px 31px;
	background: url('../images/beer-mug.png') no-repeat top left;
}

.try-this {
	width: 334px;
}

.special-list-container {
	margin-top: 3px;
	padding-top: 30px;
	color: #845a3f;
}

.heading-section {
	font-family: 'bitterbold';
	font-size: 26px;
	padding-bottom: 10px;
	background: url('../images/bg-heading-specials.png') repeat-x bottom left;
}

.heading-list {
	font-family: 'bitterbold';
	font-size: 24px;
}

.list-specials {
	font-family: 'bitteritalic';
	font-size: 18px;
	list-style: none;
}

.list-specials-food {
	margin-bottom: 80px;
}

.dont-know {
	background: none;
	padding: 0 18px;
}

.try-this .align-right {
	display: block;
}

.beer-please {
	display: inline-block;
	width: 115px;
	height: 119px;
	float: left;
	background: url('../images/sprite-bottlecap.png') no-repeat top left;
	text-indent: -9999px;
	position: relative;
	top: -7px;
	left: 13px;
}

.beer-please:hover { background-position: bottom; }

.try-this-heading {
	display: inline-block;
	vertical-align: middle;
	margin: 20px 0;
	width: 178px;
	height: 39px;
	background: url('../images/heading-try-this.png') no-repeat top left;
	text-indent: -9999px;
}

.beer-generator-description {
	width: 218px;
	color: #391905;
	margin: 14px 0 0 124px;
	font-size: 13px;
	font-family: 'bitteritalic';
	line-height: 1.2;
}

.beer-generator-name {
	font-size: 16px;
	font-family: 'bitterbold';
	margin-bottom: 5px;
}

.drinks-link {
	display: block;
	margin: 20px 0;
	font-family: 'bitteritalic';
	font-size: 20px;
	color: #845a3f;
}

.drinks-link:hover {
	color: #391905;
}

.try-this-events {
	width: 115px;
	margin: 0 auto;
}

.special-events-info {
	margin: 15px 0 0;
	color: #845a3f;
	font-size: 14px;
	line-height: 1.2;
}

/* ---------------------------------------------------------------------
= Page
------------------------------------------------------------------------ */
.page-head {
	overflow: hidden;
	padding: 10px 0 35px 10px;
	border-bottom: 4px solid #cbc1ba;
}

.page-head-description {
	width: 400px;
	float: left;
}

.page-head-photo-container {
	margin-left: 18px;
	float: left;
}

.page-head-photo {
	display: block;
	border: 6px solid #ffffff;
	-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;
}

.page-heading {
	height: 47px;
	margin-bottom: 15px;
	text-indent: -9999px;
}

.page-heading-food { background: url('../images/heading-food.png') no-repeat top left; }

.page-heading-drinks { background: url('../images/heading-drinks.png') no-repeat top left; }

.page-heading-events { background: url('../images/heading-events.png') no-repeat top left; }

.page-heading-merchandise { background: url('../images/heading-merchandise.png') no-repeat top left; }

.page-heading-contact { background: url('../images/heading-contact-us.png') no-repeat top left; }

.page-head-description {
	font-size: 14px;
	line-height: 1.3;
	color: #391905;
}

.menu-wrapper {
	overflow: hidden;
}

.menu-nav {
	margin-top: 30px;
	border-bottom: 4px solid #d6c6b1;
	overflow: hidden;
}

.menu-nav-item {
	float: left;
	margin: 0 0 5px;
	border-left: 4px solid #d9c9b4;
}

.menu-nav-item:first-child {
	border: none;
}

li.menu-nav-beer,
li.menu-nav-wine { padding: 10px 36px; }

li.menu-nav-liquor { padding: 10px 27px; }

li.menu-nav-nonalcoholic { padding: 10px 23px; }

li.menu-nav-specials { padding: 10px 31px; }

li.menu-nav-starters { padding: 10px 61px; }

li.menu-nav-entrees { padding: 10px 69px; }

li.menu-nav-parties { padding: 10px 40px; }

li.menu-nav-sports { padding: 10px 55px; }

li.menu-nav-entertainment { padding: 10px 29px; }

.menu-nav-item a {
	display: block;
	height: 19px;
	text-indent: -9999px;
}

.menu-nav-item a:hover,
.menu-nav-item a.current-menu-item {
	background-position: bottom;
}

.menu-nav-beer a {
	width: 83px;
	background: url('../images/heading-beer.png') no-repeat top left;
}

.menu-nav-wine a {
	width: 84px;
	background: url('../images/heading-wine.png') no-repeat top left;
}

.menu-nav-liquor a {
	width: 116px;
	background: url('../images/heading-liquor.png') no-repeat top left;
}

.menu-nav-nonalcoholic a {
	width: 251px;
	background: url('../images/heading-nonalcoholic.png') no-repeat top left;
}

.menu-nav-specials a {
	width: 150px;
	background: url('../images/heading-specials.png') no-repeat top left;
}

.menu-nav-starters a {
	width: 166px;
	background: url('../images/heading-starters.png') no-repeat top left;
}

.menu-nav-entrees a {
	width: 144px;
	background: url('../images/heading-entrees.png') no-repeat top left;
}

.menu-nav-parties a {
	width: 138px;
	background: url('../images/heading-parties.png') no-repeat top left;
}

.menu-nav-sports a {
	width: 121px;
	background: url('../images/heading-sports.png') no-repeat top left;
}

.menu-nav-entertainment a {
	width: 277px;
	background: url('../images/heading-entertainment.png') no-repeat top left;
}

.menu-head {
	overflow: hidden;
	margin-top: 25px;
	padding-bottom: 10px;
	border-bottom: 2px solid #cabfb9;
	font-family: 'bitterregular';
	font-size: 14px;
	color: #c38d48;
}

.menu-heading {
	font-family: 'bitterregular';
	font-size: 14px;
}

.menu-heading-container,
.menu-container-cell { float: left; }

.menu-heading-name { margin-left: 18px; }

.menu-heading-abv { margin-left: 277px; }

.menu-heading-last {
	float: right;
	margin-right: 45px;
}

.menu-container {
	overflow: hidden;
	padding: 23px 18px 18px;
	border-bottom: 2px solid #cabfb9;
	line-height: 1.3;
	color: #391905;
}

.menu-container-cell-description {
	width: 370px;
	font-size: 12px;
}

.menu-container-cell-description h4 {
	margin-bottom: 5px;
	font-family: 'bitterbold';
	font-size: 16px;
}

.menu-container-cell-abv {
	margin-left: 135px;
	font-family: 'bitterbold';
	font-size: 16px;
}

.menu-container-cell-last {
	float: right;
	font-family: 'bitterbold';
	font-size: 16px;
}

.food-price { margin-right: 18px; }

.rating {
	display: block;
	width: 103px;
	height: 36px;
	background: url('../images/bg-ratings.png') no-repeat;
	text-indent: -9999px;
}

.rated-1 { background-position: left top; }

.rated-1\.5 { background-position: left -36px; }

.rated-2 { background-position: left -72px; }

.rated-2\.5 { background-position: left -108px; }

.rated-3 { background-position: left -144px; }

.rated-3\.5 { background-position: left -180px; }

.rated-4 { background-position: left -216px; }


.events-page-head { border: none; }

.events-carousel { margin: 0 0 30px -30px; }

.wp-image-69 {
	position: absolute;
	right: 78px;
	margin-top: 34px;
}

.parent-pageid-13 .menu-container {
	border: none;
}

.page-id-72 .menu-container {
	padding: 23px 0 18px;
}

.event-list {
	list-style: none;
}

.event-list li {
	margin: 0;
	padding: 15px 18px;
	border-bottom: 2px solid #CABFB9;
	position: relative;
}

.event-title,
.event-description {
	width: 550px;
}

.event-date {
	display: block;
	width: 115px;
	height: 115px;
	position: absolute;
	top: 16px;
	right: 18px;
}

/* ---------------------------------------------------------------------
= Merch
------------------------------------------------------------------------ */
.merch-head {
	border-bottom:none;
	padding-bottom: 20px;
}
.merch-wrapper {
	overflow:hidden;
}
.merch-item {
	width:271px;
	float:left;
}
.heading-merch {
	font-family: 'bitterbold';
	font-size: 16px;
	color: #391905;
	text-transform: uppercase;
	margin: 10px 5px;
}
.merch-price {
	font-family: 'bitteritalic';
	font-size: 16px;
	color: #845a3f;
	margin-left:5px;
}
.merch-image {
	background:url('../images/bg-merch.png') no-repeat top left;
	width:271px;
	height:207px;
}
.merch-image img {
	padding:12px;
	width:247px;
	height:182px;
}

/* ---------------------------------------------------------------------
= Contact
------------------------------------------------------------------------ */

.contact-map {
	background:url('../images/bg-maps.png') no-repeat top left;
	width:819px;
	height:468px;
	border-bottom:double 3px #c4bab3;
	padding-bottom:57px;
	margin-left:-15px;
}
.contact-map img {
	padding:16px;
}

.contact-heading {
	height: 22px;
	text-indent: -9999px;
}
.contact-heading-address{ background: url('../images/heading-address.png') no-repeat top left; }
.contact-heading-phone{ background: url('../images/heading-phone.png') no-repeat top left; margin-top:26px; }
.contact-heading-email{ background: url('../images/heading-email.png') no-repeat top left; margin-top:26px; }

.contact-content {
	font-family: 'bitterregular';
	font-size: 14px;
	color: #845a3f;
	overflow: hidden;
	margin-top: 57px;
}

.contact-content p span {
	display:block;
}
.contact-information {
	float:left;
}
.contact-form {
	float:right;
	width: 408px;
}
.contact-form .gform_wrapper {
	margin:0 !important;
}
.contact-form form {
	position:relative;
}
.contact-form label {
	display: none !important;
}
.contact-form input.medium, .contact-form textarea.medium {
	color: #c38d48;
	width: 408px !important;
	margin-bottom: 25px !important;
	border: none;
}
.contact-form textarea.medium {
	height: 209px !important;
	padding: 10px;
	background:url('../images/bg-textarea.png') no-repeat top left;
}
.contact-form input.medium {
	height: 34px !important;
	padding: 0 10px !important;
	background:url('../images/bg-input.png') no-repeat top left;
}
.contact-form input.gform_image_button{
	margin:0 !important;
	position: absolute;
	top: 349px;
	right: 0;
}

/* ---------------------------------------------------------------------
= Global
------------------------------------------------------------------------ */
.align-center { text-align: center; }

.no-border { border: none; }

.align-right { text-align: right; }

.align-left { text-align: left; }

strong { font-weight: bold; }

em { font-style: italic; }

.page .page-content p { margin-bottom: 10px; }

p {
	margin-bottom: 10px;
	font-size: 1em;
	line-height: 1.2;
}

h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
	font-family: 'bitterbold', Georgia, Times, serif;
}

h3 {
	font-size: 1.5em;
	margin-top: 20px;
}

h4 {
	font-size: 1.1em;
	font-weight: 500;
}

h4 a {
	border: none;
	text-decoration: none;
	font-weight: 700;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: .86em;
}

ol li,
ul li {
	margin: 0 0 2px 23px;
}

ul, ol {
	list-style: disc;
}

ul a {
	text-decoration: none;
	border-bottom: none;
}

ol {
	list-style: decimal;
}

/*================================================  Images and captions  ================================================*/

.wp-caption {
	text-align: center;
	background-color: white;
	padding-top: 4px;
	margin: 10px 10px 5px 10px;
	border: none;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption a img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption-dd {
	font-size: .86em;
	line-height: 1.2;
	padding: 5px 4px;
	margin: 0;
}