/* ---------------------------------------------------------------------
Original Author: John Heimkes IV

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */
body {
	background: url('../images/bg-wood.jpg');
	font-family: 'bitterregular', Georgia, Times, serif;
}

.page-wrapper {
	width: 948px;
	margin: 25px auto;
	background: url('../images/bg-paper.jpg') left top repeat-y;
	position: relative;
}

.page-wrapper-bottom {
	width: 948px;
	height: 98px;
	background: url('../images/bg-paper-bottom.jpg') left top no-repeat;
	position: absolute;
	bottom: 0;
}

.page-content {
	width: 793px;
	margin: 107px auto 0;
}

.page-footer {
	padding: 60px 76px 20px;
	position: relative;
	z-index: 1;
}


/* ---------------------------------------------------------------------
= Header
------------------------------------------------------------------------ */
.page-header {
	width: 1001px;
	height: 215px;
	background: url('../images/bg-taps.png') left top no-repeat;
	background-position: 0 -16px;
	position: relative;
	top: -5px;
	left: -26px;
}

.logo-container {
	width: 241px;
	margin: 0 auto;
	position: relative;
	top: 25px;
	z-index: 1;
}

.logo {
	display: block;
	height: 293px;
	background: url('../images/logo.png') left top no-repeat;
	text-indent: -9999px;
}

nav {
	width: 992px;
	height: 78px;
	background: url('../images/bg-nav.png') left top no-repeat;
	position: absolute;
	top: 173px;
	left: 3px;
}

nav .menu {
	position: relative;
	left: 28px;
}

.menu-item {
	float: left;
}

.menu-item:nth-child(-n+3) {
	margin: 20px 23px 0;
}

.menu-item:nth-child(n+4) {
	margin: 20px 12px 0;
}

#menu-item-27 {
	margin-left: 224px;
}

.menu-item a {
	border-bottom: 2px solid #1a2f15;
	color: #001c00;
	font-family: 'bitterbold';
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.menu-item a:hover {
	border-bottom: 2px solid #7b7839;
	color: #e6e06a;
}

/* ---------------------------------------------------------------------
= Footer
------------------------------------------------------------------------ */
.footer-content-wrapper {
	margin: 20px auto 0;
	padding: 20px 0;
	border-top: 4px solid #c3b9b2;
	text-align: center;
	font-size: 12px;
	font-family: 'bitterregular';
	color: #391905;
}

.footer-content-wrapper > div {
	margin-bottom: 10px;
}

.footer-address {
	display: inline;
}

.email-link {
	color: #391905;
	text-decoration: none;
}

.email-link:hover {
	text-decoration: underline;
}

.social-icon {
	display: inline-block;
	margin: 10px 5px 0;
}

.social-icon a {
	display: block;
	height: 26px;
	width: 26px;
	text-indent: -9999px;
}

.social-icon-facebook { background: url('../images/icon-fb.png') no-repeat left top; }
.social-icon-twitter { background: url('../images/icon-twitter.png') no-repeat left top; }


/* ---------------------------------------------------------------------
= Homepage
------------------------------------------------------------------------ */
.home .page-content {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.tagline {
	width: 530px;
	margin: 0 auto;
	font-size: 16px;
	color: #391905;
	line-height: 1.2;
}

.tagline-heading {
	font-family: 'bitterbold';
	font-size: 21px;
	padding: 0 0 10px;
}

.main-carousel {
	width: 854px;
	height: 348px;
	margin: 40px auto;
	background: url('../images/bg-carousel-shadow.png') no-repeat left top;
	text-align: center;
	position: relative;
}

.carousel {
	width: 800px;
	height: 340px;
	margin: 0 auto;
	border: 9px solid #ffffff;
	position: relative;
	z-index: 1;
}

.carousel-shadow {
	width: 800px;
	height: 340px;
	position: absolute;
	z-index: 999;
	-webkit-box-shadow: inset 0px 0px 14px 1px #000000;
	-moz-box-shadow: inset 0px 0px 14px 1px #000000;
	box-shadow: inset 0px 0px 14px 1px #000000;
}

.main-carousel-nav {
	position: absolute;
	top: 111px;
	left: 16px;
	z-index: 2;
}

.main-carousel-nav-item {
	display: inline-block;
	text-indent: -9999px;
	vertical-align: middle;
}

.main-carousel-link {
	display: block;
	text-decoration: none;
}

.main-carousel-link:hover {
	background-position: bottom;
}

.main-carousel-beer-link {
	width: 354px;
	height: 123px;
	background: url('../images/link-beer.png') no-repeat top left;
}

.main-carousel-food-link {
	width: 362px;
	height: 123px;
	background: url('../images/link-food.png') no-repeat top left;
}

.main-carousel-sep {
	width: 97px;
	height: 89px;
	background: url('../images/amp-white.png') no-repeat top left;
}

.happy-hour {
	width: 806px;
	margin: 0 auto;
	padding: 10px 0;
	border-top: 4px solid #c9bfb7;
	border-bottom: 4px solid #c9bfb7;
	text-align: center;
	line-height: 2;
}

.asterisk {
	display: inline-block;
	width: 64px;
	height: 16px;
	background: url('../images/stars.png') no-repeat top left;
}

.happy-hour h3 {
	display: inline-block;
	padding: 0 15px;
	color: #391905;
	font-size: 30px;
	font-family: 'bitterbold';
}

.happy-hour p {
	text-transform: uppercase;
	color: #845a3f;
	font-family: 'bitteritalic';
	font-size: 24px;
}

.amp-replace-yellow {
	display: inline-block;
	width: 48px;
	height: 40px;
	position: relative;
	top: 5px;
	background: url('../images/amp-gold.png') no-repeat top left;
	text-indent: -9999px;
}

.specials-module {
	text-align: center;
	margin-top: 60px;
}

.monthly-specials,
.pint-glass,
.try-this {
	display: inline-block;
	vertical-align: top;
}

.monthly-specials {
	width: 250px;
	line-height: 1.5;
}

.pint-glass {
	width: 152px;
	height: 345px;
	margin: 26px 31px;
	background: url('../images/beer-mug.png') no-repeat top left;
}

.try-this {
	width: 334px;
}

.special-list-container {
	margin-top: 3px;
	padding-top: 30px;
	color: #845a3f;
}

.heading-section {
	font-family: 'bitterbold';
	font-size: 26px;
	padding-bottom: 10px;
	background: url('../images/bg-heading-specials.png') repeat-x bottom left;
}

.heading-list {
	font-family: 'bitterbold';
	font-size: 24px;
}

.list-specials {
	font-family: 'bitteritalic';
	font-size: 18px;
}

.list-specials-food {
	margin-bottom: 80px;
}

.dont-know {
	background: none;
	padding: 0 18px;
}

.try-this .align-right {
	display: block;
}

.beer-please {
	display: inline-block;
	width: 115px;
	height: 119px;
	float: left;
	background: url('../images/sprite-bottlecap.png') no-repeat top left;
	text-indent: -9999px;
	position: relative;
	top: -7px;
	left: 13px;
}

.beer-please:hover { background-position: bottom; }

.try-this-heading {
	display: inline-block;
	vertical-align: middle;
	margin: 20px 0;
	width: 178px;
	height: 39px;
	background: url('../images/heading-try-this.png') no-repeat top left;
	text-indent: -9999px;
}

.beer-generator-description {
	width: 218px;
	color: #391905;
	margin: 14px 0 0 124px;
	font-size: 13px;
	font-family: 'bitteritalic';
	line-height: 1.2;
}

.beer-generator-name {
	font-size: 16px;
	font-family: 'bitterbold';
	margin-bottom: 5px;
}

.drinks-link {
	display: block;
	margin: 20px 0;
	font-family: 'bitteritalic';
	font-size: 20px;
	color: #845a3f;
}

.drinks-link:hover {
	color: #391905;
}

.try-this-events {
	width: 115px;
	margin: 0 auto;
}

.special-events-info {
	margin: 15px 0 0;
	color: #845a3f;
	font-size: 14px;
	line-height: 1.2;
}

/* ---------------------------------------------------------------------
= Page
------------------------------------------------------------------------ */
.page-head {
	overflow: hidden;
	padding: 10px 0 35px 10px;
	border-bottom: 4px solid #cbc1ba;
}

.page-head-description {
	width: 400px;
	float: left;
}

.page-head-photo-container {
	margin-left: 18px;
	float: left;
}

.page-head-photo {
	display: block;
	border: 6px solid #ffffff;
	-moz-box-shadow: 0px 0px 12px #000000;
	-webkit-box-shadow: 0px 0px 12px #000000;
	box-shadow: 0px 0px 12px #000000;
}

.page-heading {
	height: 47px;
	margin-bottom: 15px;
	text-indent: -9999px;
}

.page-heading-food { background: url('../images/heading-food.png') no-repeat top left; }

.page-heading-drinks { background: url('../images/heading-drinks.png') no-repeat top left; }

.page-head-description {
	font-size: 14px;
	line-height: 1.3;
	color: #391905;
}

.menu-container {
	overflow: hidden;
}

.menu-nav {
	margin-top: 30px;
	border-bottom: 4px solid #d6c6b1;
	overflow: hidden;
}

.menu-nav-item {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

.menu-nav-beer,
.menu-nav-wine {
	padding-right: 36px;
	padding-left: 36px;
}

.menu-nav-liquor {
	padding-right: 27px;
	padding-left: 27px;
}

.menu-nav-nonalcoholic {
	padding-right: 23px;
	padding-left: 23px;
}

/* ---------------------------------------------------------------------
= Global
------------------------------------------------------------------------ */
.align-center { text-align: center; }

.no-border { border: none; }

.align-right { text-align: right; }

.align-left { text-align: left; }

strong { font-weight: bold; }

em { font-style: italic; }

.page .page-content p { margin-bottom: 10px; }