/* ---------------------------------------------------------------------
Original Author: John Heimkes IV

Target Browsers: All
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */
body {
	background: url('../images/bg-wood.jpg');
	font-family: 'bitterregular', Georgia, Times, serif;
}

.page-wrapper {
	width: 948px;
	margin: 25px auto;
	background: url('../images/bg-paper.jpg') left top repeat-y;
	position: relative;
}

.page-wrapper-bottom {
	width: 948px;
	height: 98px;
	background: url('../images/bg-paper-bottom.jpg') left top no-repeat;
	position: absolute;
	bottom: 0;
}

.page-content {
	margin-top: 107px;
}

.page-footer {
	padding: 20px 76px;
	position: relative;
	z-index: 1;
}

/* ---------------------------------------------------------------------
= Header
------------------------------------------------------------------------ */
.page-header {
	width: 1001px;
	height: 215px;
	background: url('../images/bg-taps.png') left top no-repeat;
	background-position: 0 -16px;
	position: relative;
	top: -5px;
	left: -26px;
}

.logo-container {
	width: 241px;
	margin: 0 auto;
	position: relative;
	top: 25px;
	z-index: 1;
}

.logo {
	display: block;
	height: 293px;
	background: url('../images/logo.png') left top no-repeat;
	text-indent: -9999px;
}

nav {
	width: 992px;
	height: 78px;
	background: url('../images/bg-nav.png') left top no-repeat;
	position: absolute;
	top: 173px;
	left: 3px;
}

nav .menu {
	position: relative;
	left: 28px;
}

.menu-item {
	float: left;
}

.menu-item:nth-child(-n+3) {
	margin: 20px 23px 0;
}

.menu-item:nth-child(n+4) {
	margin: 20px 12px 0;
}

#menu-item-27 {
	margin-left: 224px;
}

.menu-item a {
	border-bottom: 2px solid #1a2f15;
	color: #001c00;
	font-family: 'bitterbold';
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

.menu-item a:hover {
	border-bottom: 2px solid #7b7839;
	color: #e6e06a;
}

/* ---------------------------------------------------------------------
= Footer
------------------------------------------------------------------------ */
.footer-content-wrapper {
	margin: 20px auto 0;
	padding: 20px 0;
	border-top: 4px solid #c3b9b2;
	text-align: center;
	font-size: 12px;
	font-family: 'bitterregular';
	color: #391905;
}

.footer-content-wrapper > div {
	margin-bottom: 10px;
}

.footer-address {
	display: inline;
}

.email-link {
	color: #391905;
	text-decoration: none;
}

.email-link:hover {
	text-decoration: underline;
}

.social-icon {
	display: inline-block;
	margin: 10px 5px 0;
}

.social-icon a {
	display: block;
	height: 26px;
	width: 26px;
	text-indent: -9999px;
}

.social-icon-facebook { background: url('../images/icon-fb.png') no-repeat left top; }
.social-icon-twitter { background: url('../images/icon-twitter.png') no-repeat left top; }

/* ---------------------------------------------------------------------
= Global
------------------------------------------------------------------------ */
.align-center {
	text-align: center;
}

/* ---------------------------------------------------------------------
= Homepage
------------------------------------------------------------------------ */
.tagline {
	width: 530px;
	margin: 0 auto;
	font-size: 16px;
	color: #391905;
	line-height: 1.2;
}

.tagline-heading {
	font-family: 'bitterbold';
	font-size: 21px;
	padding: 0 0 10px;
}

.main-carousel {
	width: 854px;
	height: 348px;
	margin: 40px auto;
	background: url('../images/bg-carousel-shadow.png') no-repeat left top;
	text-align: center;
	position: relative;
}

.carousel {
	width: 800px;
	height: 340px;
	margin: 0 auto;
	border: 9px solid #ffffff;
	position: relative;
	z-index: 1;
}

.carousel-shadow {
	width: 800px;
	height: 340px;
	position: absolute;
	z-index: 999;
	-webkit-box-shadow: inset 0px 0px 14px 1px #000000;
	-moz-box-shadow: inset 0px 0px 14px 1px #000000;
	box-shadow: inset 0px 0px 14px 1px #000000;
}

.main-carousel-nav {
	position: absolute;
	top: 111px;
	left: 16px;
	z-index: 2;
}

.main-carousel-nav-item {
	display: inline-block;
	text-indent: -9999px;
	vertical-align: middle;
}

.main-carousel-link {
	display: block;
	text-decoration: none;
}

.main-carousel-link:hover {
	background-position: bottom;
}

.main-carousel-beer-link {
	width: 354px;
	height: 123px;
	background: url('../images/link-beer.png') no-repeat top left;
}

.main-carousel-food-link {
	width: 362px;
	height: 123px;
	background: url('../images/link-food.png') no-repeat top left;
}

.main-carousel-sep {
	width: 97px;
	height: 89px;
	background: url('../images/amp-white.png') no-repeat top left;
}